*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --px-scale: 5;
    --background-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

body{
    background: black;

    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
}

#game-container{
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-frame{
    position: relative;
    /*
    background: rgb(0, 149, 255);
    background: rgb(0, 149, 255);
    background: rgb(6, 35, 142);
    */
    padding-top: 56.25%;
    overflow: hidden;
}

#mathField{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem 1rem;
    background-color: aliceblue;
    outline: .4rem solid black;
    font-size: 3rem;

    z-index: 1000;
}

@media screen and (max-width: 1000px) {

    #game-container{
        width: 85%;
    }
}

@media screen and (max-width: 800px) {

    #game-container{
        width: 100%;
        top: 0%;
        left: 0%;
        transform: unset;
    }

    #game-frame{
        height: 100vh;
        padding: 0;
        overflow: hidden;
    }
}