@font-face {
    font-family: Arvo;
    src: url(../assets/fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: Arvo-Bold;
    src: url(../assets/fonts/Arvo-Bold.ttf);
}

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root{
    --px-scale: 5;
    --background-gradient: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    --menu-color: rgb(211, 211, 211);
}

body{
    background: black;

    font-size: 20px;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-family: Arvo;
    width: 100%;
    height: 100vh;
}

img{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
}

p{
    font-family: Arvo-Bold;
    text-shadow: 0px 0px 3px white;
    font-size: 1.5rem;
}

#game-container{
    width: 100%;
    height: 100%;
    padding: 0;
}

#game-frame{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 149, 255);
}

#mathField{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem 1rem;
    background-color: aliceblue;
    outline: .4rem solid black;
    font-size: 3rem;

    z-index: 1000;
}

#open-menu{
    position: absolute;
    right: 0;
    top: 0;

    height: 50px;
    width: 50px;

    background: url("../assets/textures/ui/menu_16x16.png");
    background-size: cover;

    margin: 20px;

    image-rendering: crisp-edges;
    border: none;

    z-index: 1000;
}

#heart-container{
    position: absolute;
    left: 0;
    top: 0;

    height: 50px;
    width: 150px;

    margin: 20px;

    background: url("../assets/textures/ui/heart_9x9.png");
    background-size: contain;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
    z-index: 1000;
}

#depthMeter{
    position: absolute;
    left: 1%;
    bottom: 1%;
    width: 5%;
    
    z-index: 1000;
}

#depthMeter-pointer{
    position: absolute;
    right: 0;
    width: 50%;
    top: 77%;       /* 9% - 77% */
}

#depthMeter-text{
    position: absolute;
    top: 0;
}

#wrongIndicator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    font-size: 0rem;
    color: red;
    -webkit-text-stroke: 2px black;

    display: none;
}

#wrongIndicator.showAnimation{
    display: block;
    display: initial;
    animation-name: show;
    animation-duration: 2s;
}

@keyframes show {
    from {
        font-size: 0rem;
        transform: translate(-50%, -50%);
    }
    to {
        font-size: 15rem;
        transform: translate(-50%, -50%) rotateZ(45deg);
    }
}

/*
 * Scoreboard
 */
#score-board{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#score-board h1{
    font-size: 4rem;
}

#score-board input{
    font-size: 2rem;
    padding: 10px 20px;
}

#score-board input::-webkit-input-placeholder {
    text-align: center;
}
 
 #score-board input:-moz-placeholder {
    text-align: center;  
}
 
 #score-board input::-moz-placeholder {
    text-align: center;  
}
 
 #score-board input:-ms-input-placeholder {  
    text-align: center; 
}

#score-board button{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 3px solid black;
    font-size: 2rem;
    font-family: Arvo-Bold;

    padding: 10px 20px;
}

#score-board button:hover{
    transition: 0.4s;
    border: 8px solid black;
    padding: 5px 15px;
}

#score-board table{
    margin-top: 40px;
}

#score-board table tr td{
    font-size: 2rem;
}


#tutorial{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#tutorial div{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    flex-direction: row;

    font-size: 2rem;
}

#tutorial div img{
    height: 50vh;
    width: calc(50vh*(64/150));
}


#menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.7);

    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    display: none;
}

#menu.show{
    display: flex;
}

#menu h2{
    flex: 1;

    display:flex;
    justify-content: center;
    align-items: flex-end;

    color: var(--menu-color);
    font-size: 4rem;
}

#menu #button-container{
    flex: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu #button-container button{
    width: 100%;
    height: 10vh;

    margin-top: 5px;
    padding: 1em 2em;

    color: var(--menu-color);
    /*border: 2px solid var(--menu-color);*/
    border: none;

    background: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    
    text-align: center;
    font-size: 1.7rem;
}


#menu #button-container button:hover{
    opacity: 0.6;
}

#menu #button-container #fullscreenBtn{
    background-image: url("../assets/textures/ui/Vollbild-btn_48x16.png");
}

#menu #button-container #restartBtn{
    background-image: url("../assets/textures/ui/Neustart-btn_48x16.png");
}

#menu #button-container #resumeBtn{
    background-image: url("../assets/textures/ui/Weiter-btn_48x16.png");
}

#menu button:hover{
    image-rendering: auto;
}

.hidden{
    display: none !important;
}

/**
 * Media quarry
 */
@media screen and (max-width: 800px) {
    /*
    #game-container{
        width: 100%;
        top: 0%;
        left: 0%;
        transform: unset;
    }

    #game-frame{
        height: 100vh;
        padding: 0;
        overflow: hidden;
    }
    */
}