/*
 * The style of the Scoreboard
 */
 #score-board{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#score-board h1{
    font-size: 4rem;
}

#score-board input{
    font-size: 2rem;
    padding: 10px 20px;
}

#score-board input::-webkit-input-placeholder {
    text-align: center;
}
 
 #score-board input:-moz-placeholder {
    text-align: center;  
}
 
 #score-board input::-moz-placeholder {
    text-align: center;  
}
 
 #score-board input:-ms-input-placeholder {  
    text-align: center; 
}

#score-board button{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 3px solid black;
    font-size: 2rem;
    font-family: Arvo-Bold;

    padding: 10px 20px;
}

#score-board button:hover{
    transition: 0.4s;
    border: 8px solid black;
    padding: 5px 15px;
}

#score-board table{
    margin-top: 40px;
}

#score-board table tr:first-child td{
    font-size: 2.5rem;
    text-decoration: underline wavy black;
    text-decoration-thickness: .05em;
}

#score-board table tr td{
    font-size: 2rem;
}