@font-face {
    font-family: Arvo;
    src: url(../assets/fonts/Arvo-Regular.ttf);
}

@font-face {
    font-family: Arvo-Bold;
    src: url(../assets/fonts/Arvo-Bold.ttf);
}

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root{
    --menu-color: rgb(211, 211, 211);
}

body{
    background: black;

    font-size: 20px;
    font-family: Arvo;
    width: 100%;
    height: 100vh;
}

img{
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 100%;
}

p{
    font-family: Arvo-Bold;
    text-shadow: 0px 0px 3px white;
    font-size: 1.5rem;
}

#game-container{
    width: 100%;
    height: 100%;
    padding: 0;
}

#game-frame{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 149, 255);
}

#game-frame::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);

    pointer-events: none;
    z-index: 10000;
}

.hidden{
    display: none !important;
}